* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

:root {
  --yellow: hsl(47, 88%, 63%);
}

body {
  background-color: var(--yellow);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  max-width: 21rem;
  background-color: white;
  border-radius: 1rem;
  border: solid 1px;
  box-shadow: 0.6rem 0.6rem black;
}

.ilustration {
  padding: 1rem;
}

.ilustration img {
  width: 100%;
  border-radius: 0.5rem;
}

.txt-wrapper {
  padding: 0 1rem 1rem;
}

.name {
  background-color: var(--yellow);
  font-family: "Figtree", sans-serif;
  font-weight: 800;
  font-size: 0.8rem;
  min-width: auto;
  display: table;
  padding: 0.4rem 0.8rem;
  border-radius: 0.2rem;
}

.date {
  padding: 0.7rem 0 1rem 0;
}

.title {
  font-weight: 800;
  font-family: "Figtree", sans-serif;
  font-size: 1.125rem;
  padding-bottom: 1rem;
}

.title:hover {
  color: var(--yellow);
  cursor: pointer;
}

.description {
  color: hsl(0, 0%, 50%);
  padding-bottom: 1rem;
}

.author-section {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.avatar {
  width: 1.5rem;
  height: 1.5rem;
}

.author-name {
  font-family: "Figree", sans-serif;
  font-weight: 600;
}
